{{ if .IsHome -}}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "@id": "{{ (site.GetPage "/").Permalink | safeURL }}",
    "name": "{{ .Site.Title | safeJS }}",
    {{ with .Site.Params.description }}"description": "{{ . | safeJS }}",{{ end }}
    {{ with .Site.LanguageCode }}"inLanguage": "{{ . }}",{{ end }}
    "url": "{{ (site.GetPage "/").Permalink | safeURL }}",
    {{ with .Site.Params.keywords }}"keywords": {{ . }},{{ end }}
    "publisher" : {
      "@type": "Person",
      "name": "{{ .Site.Params.Author.name | safeJS }}"
    }
  }
  </script>
{{ else if .IsPage }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  <script type="application/ld+json">
  [{
    "@context": "https://schema.org",
    "@type": "Article",
    "articleSection": "{{ (site.GetPage .Section).Title | safeJS }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    {{- $page := . -}}
    {{- $images := slice -}}
    {{- range .Params.images -}}
      {{- with $page.Resources.GetMatch . -}}
        {{- $images = $images | append .Permalink -}}
      {{- else -}}
        {{- $images = $images | append (. | absURL) -}}
      {{- end -}}
    {{- end -}}
    {{ with $images }}"image": {{ . | jsonify | safeJS }},{{ end }}
    {{ with .Description }}"description": "{{ . | safeJS }}",{{ end }}
    {{ with .Summary }}"abstract": "{{ . | safeJS }}",{{ end }}
    {{ with .Site.LanguageCode }}"inLanguage": "{{ . }}",{{ end }}
    "url" : "{{ .Permalink }}",
    "author" : {
      "@type": "Person",
      "name": "{{ .Site.Params.Author.name | safeJS }}"
    },
    {{ with .PublishDate }}"copyrightYear": "{{ .Format "2006" }}",{{ end }}
    {{ with .Date }}"dateCreated": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .PublishDate }}"datePublished": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .ExpiryDate }}"expires": "{{ .Format $iso8601 }}",{{ end }}
    {{ with .Lastmod }}"dateModified": "{{ .Format $iso8601 }}",{{ end }}
    {{ if .Keywords }}
    {{ with .Keywords }}"keywords": {{ . }},{{ end }}
    {{ else }}
    {{ with .Params.tags }}"keywords": {{ . }},{{ end }}
    {{ end }}
    "mainEntityOfPage": "true",
    "wordCount": "{{ .WordCount }}"
  }]
  </script>
  {{ with .Params.carousel }}
    {{- $page := $ -}}
    {{- $items := slice -}}
    {{- range $index, $entry := . -}}
      {{- $image := $entry.image -}}
      {{- with $page.Resources.GetMatch $entry.image -}}
        {{- $image = .Permalink -}}
      {{- else -}}
        {{- if not (or (strings.HasPrefix $image "http://") (strings.HasPrefix $image "https://")) -}}
          {{- $image = absURL $image -}}
        {{- end -}}
      {{- end -}}
      {{- $url := $entry.url | default $page.Permalink -}}
      {{- if not (or (strings.HasPrefix $url "http://") (strings.HasPrefix $url "https://")) -}}
        {{- $url = absURL $url -}}
      {{- end -}}
      {{- $items = $items | append (dict "@type" "ListItem" "name" $entry.name "image" $image "url" $url "position" (add $index 1)) -}}
    {{- end -}}
    {{- dict "@context" "https://schema.org" "@type" "ItemList" "itemListElement" $items | jsonify | printf "<script type=\"application/ld+json\">%s</script>" | safeHTML -}}
  {{ end }}
{{ end }}
